<!-- Markup for lists inside the dropzone. It's inside a seperate template
because it will be used recursively. The dnd-list directive enables
to drop elements into the referenced array. The dnd-draggable directive
makes an element draggable and will transfer the object that was
assigned to it. If an element was dragged away, you have to remove
it from the original list yourself using the dnd-moved attribute -->



 <shortcut></shortcut>
 
<div class="col-md-10">
    
    <div class="form-group">
        <label>ohuioio</label>
        <input type="text" class="form-control" value="kk">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password <a href="/sessions/forgot_password">(forgot password)</a></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="container">
        <div class="hu9yh">
            <div class="hui">
                <ng-form name="ddd&quot;" class="higi" novalidate="">
                    <div class="form-group">
                        <label for="ce2f">ohio</label>
                        <input type="text" id="ce2f" class="" value="kk">
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
    <!--ng-change="formddChanged(it)"-->
    <button ng-click="saveJson()">Save</button>

    <!--<select class="form-control"
            ng-model="formID"
            ng-options="it.ID as it.FormName for it in forms"
            ng-change="formddChanged(it)">
    </select>-->

    <select ng-model="frm.formID" ng-options="it.ID as it.FormName for it in forms"></select>



    <div ng-bind-html="models.htmlv | to_trusted"></div>
    

    <json-tree json="jsObj" node="nodeOptions" collapsed-level="1"></json-tree>
    


 <!--<div view-source="models.htmlv" highlight-lines="{markup: '1-18, 20-28, 40-42, 57-68, 78-82'}"></div>--> 

    <!--<pre prism content="models.htmlv">
    <code class="language-markup">

   
</code>
</pre>-->
    <pre nag-prism source="{{models.htmlv}}" class="language-markup"></pre>

</div>
<!-- Sidebar -->
<div class="col-md-2">
<div class="toolbox box box-grey box-padding">
    <h3>New Elements</h3>
    <ul>
        <!-- The toolbox only allows to copy objects, not move it. After a new
        element was created, dnd-copied is invoked and we generate the next id -->
        <li ng-repeat="item in models.templates">
            <button type="button" class="btn btn-default btn-lg" ng-click="addControl(item)" >{{item.type}}</button>
        </li>
    </ul>
</div>



</div>